body {
  background-color: #878C8F;
}

h1 {
  color: #000000;
  text-decoration: underline;
  font-size: 55px;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: left;
  font-size: 20px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: underline;
  color: #33658A;
}
